
#header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    position: fixed;
  top: 10px
}
.form-box{
    width: 40%;
    margin: auto;
    text-align: center;
}
.box{
    display: flex;

}
.box > .box-text{
    align-self: flex-end;
    padding: 10px;
}
.box > #icon{
    align-self: center;
    justify-self: center;
    padding: 10px;
}

.boxes{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
.box2{
    flex-basis: 30%;
    border: 1px solid black;
    text-align: center;
}

@media screen and (max-width: 600px){
    #header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
}
