body{
    background-color: #ddd;
    font-size: 20px;
  position: relative;
}
a{
    text-decoration: none;
    color: #1B1C1E;
}
header{
    padding: 10px 20px;
    
}
header> nav{
  position: fixed;
  right: 20px;
  z-index: 1;
}

#nav-bar a{
    padding: 5px 25px;
  
}

.form-box input[type="email"]{
    width: 40%;
    padding: 5px 10px;
}
.form-box input[type="submit"]{
    width: 20%;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffff33;
    border: none;
    font-weight: bolder;
}
.icon-section img{
    height: 100px;
    width: 100px;
}
.icon-section{
    width: 70%;
    margin: auto;
    margin-top: 50px;

}
#how-it-works{
  width: 50%;
  margin: auto;
}
.box2 button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ffff33;
    border: none;
    margin-bottom: 20px;
}
.box2 h5{
    margin: 0;
    padding: 10px 0;
   background-color: #bbb;
}

footer{
    background-color: #bbb;
    width: 75%;
    margin: auto;
    margin-top: 40px;
    text-align: right;
    padding: 20px 15px 5px 0px;
}